body{
	background-color: darkcyan;
}

nav {
	background-color: orange;
	height: 30px;
}

nav li {
	float: left;
	list-style-type: none;
	margin: 5px 15px 0 15px;
	font-family: "Arial", "Helvetica", sans-serif;
}

nav li a:hover {
	color: white;
}

.wrapper {
	background-color: #ffffff;
	width: 90%;
	margin: 0 auto;
}

.hero {
	width: 100%;
}

h1, h2, h3 {
	color: crimson;
}

h1 {
	text-transform: uppercase;
}

main {
	width: 70%;
	float: left;
}

aside {
	width: 30%;
	float: right;
}

footer {
	background-color: #000000;
	color: #fff;
	text-align: center;
	clear: both;
}

/* add some flexbox styles
great examples: https://www.w3schools.com/css/css3_flexbox.asp
*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: azure;
    -webkit-justify-content: center;
	justify-content: center;
}


.flex-item {
    background-color: hotpink;
    width: 30%;
    margin: 10px;
}

.img-main {
	width: 100%;
	height: auto;
	overflow: hidden;
}







